@use '../units';

.card {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: 6px;    
    max-inline-size: 300px;

    text-align: start;

    background-color: var(--color-white);    
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.1);

    &--supervisor {
        border-block-start: 4px solid var(--color-cyan);
    }

    &--teambuilder {
        border-block-start: 4px solid var(--color-red);
    }

    &--karma {
        border-block-start: 4px solid var(--color-orange);
    }
    
    &--calculator {
        border-block-start: 4px solid var(--color-blue);
    }
    
    &__title {
        margin-block: 0.5rem;

        font-size: units.pxToRem(20px);
    }
    
    &__text {
        margin-block: 0.5rem;

        font-size: units.pxToRem(14px);

        color: var(--color-grayish-blue);
    }

    &__icon {
        display: block;
        
        margin-block-start: 2rem;
        margin-inline-start: auto;
        inline-size: 56px;
    }
}

@import 'card-desktop';