@use 'devices';

@include devices.device(desktop) {
    header {
        margin-inline: auto;
        max-inline-size: 500px;

        h1 {
            font-size: 2.3rem;
        }


        h2 {
            font-size: 2.3rem;
        }
    }

    main {
        margin-block-start: 3rem;
        margin-block-end: 3rem;        

        // Solution with grid
        // Note: this gives a weird result in Chrome mobile when requesting desktop version 
        // (first and third column get stretched vertically).
        &.desktop--grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(auto, max-content));
            grid-row-gap: 2rem;
            justify-content: center;
        }

        // Alternative solution with flex
        &.desktop--flex {
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: center;
            gap: 2rem;
            
            & > * { 
                // We need to set flex-basis to 33%, otherwise the columns will not shrink the same amount
                flex: 1 1 33%; 
            }
        }
    }
}
